@model Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" />
    </div>
    <div class="form-group">
        <label for="Precio">Precio</label>
        <input type="number" step="0.01" class="form-control" id="Precio" name="Precio" />
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>
